@import './base.css';

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --bg-main: #ECE3CA;
  --dark-brown-header: #5C3214;
  --input-bg: #C3B199;
  --green-box: #8E996C;
}

body, html {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--bg-main);
  font-family: "Italiana", serif;
  overflow-x: hidden; 
}

body a {
  text-decoration: none;
  font-family: "Italiana", serif;
}

/* Estrutura principal da aplicação Vue */
#app {
  width: 100%;
  min-height: 100vh;
  padding-left: 0;           
  padding-top: 100px;      
  display: flex;
  flex-direction: column;
}

/* Ajustes para mobile */
@media (max-width: 768px) {
  #app {
    padding-left: 0;
    padding-top: 70px;    
  }
}