@import './base.css';
body {
  font-family: "Italiana", serif;
  background-color: #F1EDD2;

  a {
    text-decoration: none;
    font-family: "Italiana", serif;
  }
}
#app{
    padding-left:150px;
}

:root {
  --bg-main: #ECE3CA;
  --dark-brown-header: #5C3214;
  --input-bg: #C3B199;
  --green-box: #8E996C;
}

body, html, #app {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-main);
  margin: 0;
  padding: 0;
}